body{
/*    background: #673AB7;*/
}
header{
    background:#512DA8;
}

/*Para el registro */
.registration-form {
   margin: 0 auto;
   width: 400px;
   background-color: #f2f2f2;
   padding: 30px;
   border-radius: 5px;
}

.registration-form h1 {
   text-align: center;
   margin-bottom: 20px;
}

.registration-form label {
   display: block;
   margin-bottom: 5px;
}

.registration-form input[type=text], 
.registration-form input[type=email], 
.registration-form input[type=password], 
.registration-form select, 
.registration-form input[type=date],
.registration-form button[type=submit] {
   width: 100%;
   padding: 12px;
   margin-bottom: 20px;
   border: none;
   border-radius: 3px;
}

.registration-form select {
   height: 40px;
}

.registration-form button[type=submit] {
   background-color: #4CAF50;
   color: white;
   cursor: pointer;
}

.registration-form button[type=submit]:hover {
   background-color: #3e8e41;
}

/* Para el contacto */
html, body {
  height: 100%;
  margin: 0; /* Agregado para eliminar el margen predeterminado del body */
}

#contact {
  background-color: #007bff; /* Blue color */
  padding: 20px 0; /* Ajustar el relleno superior e inferior */
  min-height: 30vh; /* Ajustar la altura mínima */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Cambiar a 'center' para centrar verticalmente */
}

#contact .container {
  text-align: center; /* Centrar el texto en el contenedor */
}

#contact h2,
#contact p {
  color: #fff;
}

#contact .contact-info {
  display: flex;
  justify-content: center;
  margin-top: 10px; /* Reducir el margen superior */
}

#contact .contact-item {
  padding: 5px; /* Reducir el relleno */
  text-align: center;
  margin: 0 10px; /* Ajustar el margen horizontal */
}

#contact .contact-item i {
  color: #fff;
  font-size: 24px;
}

#contact .contact-item a,
#contact .contact-item span {
  color: #fff;
  display: block;
  margin-top: 5px;
}

#contact .contact-item a:hover {
  color: #ff0000;
}

/* Espacio */
.espacio {
  margin-bottom: 30px; /* Ajusta el valor según el espaciado deseado */
}

/* EspacioGrande */
.espaciogrande {
  margin-bottom: 60px; /* Ajusta el valor según el espaciado deseado */
}

/* Espacio */
.menosespacio {
  margin-bottom: -70px; /* Ajusta el valor según el espaciado deseado */
}

/* Espacio */
.menosdosespacio {
  margin-bottom: -30px; /* Ajusta el valor según el espaciado deseado */
}


/***aqui empiza estilos para el contenedor principal de la página y para el visor de imagenes*******/
.page-container {
  max-width: 1200px; /* Ancho máximo del contenedor */
  margin: 0 auto; /* Centrar el contenedor en la página */
  padding: 20px; /* Espacio de padding alrededor del contenido */
}

/* Estilos para el contenedor del visor de imágenes */
.image-viewer-container {
  position: relative;
  width: 700px; /* Ancho del visor */
  height: 500px; /* Alto del visor */
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto; /* Centrar el visor en el contenedor principal */
}

/* Resto de los estilos para los botones, visor de imágenes y la imagen mostrada */
/*Para centras la imagenes */

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajusta la altura según tus necesidades */
}

.image-container img {
  max-width: 100%;
  max-height: 100%;
     width: 100%; /* Ajusta el valor según tus necesidades */
}

/*aqui terminan los contenedores de imagenes */
header{
    background: #8E2DE2;
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);
    background: linear-gradient(to right, #4A00E0, #8E2DE2);
}

/*estilos para la tabla*/
table th {
    background-color: #337ab7 !important;
    color: white;
}

/* Agrega este bloque a tu hoja de estilos */
.btn-secondary-color {
    background-color: #4DA1FF;
    border-color: #4DA1FF;
    color: #FFFFFF; /* Texto en contraste con el color de fondo */
}

.btn-secondary-color:hover {
    background-color: #3266B3; /* Cambia el color al hacer hover, puedes ajustar según tus preferencias */
    border-color: #3266B3;
}
.title-primary-color {
    color: #4DA1FF;
}

/* Subtitulos */
.pri-heading {
  font-size: 2.9em; /* Puedes ajustar el tamaño según tus necesidades */
  color: black;
  font-family: Helvetica, serif;
}

.sub-heading {
  font-size: 2.2em; /* Puedes ajustar el tamaño según tus necesidades */
  color: black;
  font-family: Helvetica, serif;
}

/* Seciones */
.sec-heading {
  font-size: 2em; /* Puedes ajustar el tamaño según tus necesidades */
  color: black;
  font-family: Helvetica, serif;
}

.secgris-heading {
  font-size: 1.8em; /* Puedes ajustar el tamaño según tus necesidades */
  color: dimgrey;
  font-family: Helvetica, serif;
}

/* Contenedor */

        .slider {
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;
            margin: 0 auto;
        }

        .slider img {
            width: 100%;
            height: auto;
        }

        .slider button {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: transparent;
            color: black;
            border: none;
            outline: none;
            font-size: 20px;
            cursor: pointer;
            padding: 10px;
            opacity: 0.5;
            transition: opacity 0.3s ease-in-out;
        }

        .slider button:hover {
            opacity: 1;
        }

        .slider .prev {
            left: 10px;
        }

        .slider .next {
            right: 10px;
        }
    
/* texto */
<style>
  .text-container {
    max-width: 900px;
    margin: 0 auto;
    font-family: 'Work Sans', serif;
    color: black;
    font-size: 20px;
  }

  h2 {
    color: white;
    font-family: 'Arial', sans-serif;
  }

  h3 {
    color: black;
    font-family: 'Helvetica', serif;
  }

  h4 {
    color: black;
    font-family: 'Helvetica', serif;
    font-size: 37px;
  }

  @media (max-width: 767px) {
    /* Estilos específicos para pantallas más pequeñas (como dispositivos móviles) */
    .text-container {
      padding: 20px; /* Agrega relleno alrededor del contenedor en dispositivos móviles */
    }

    h3 {
      font-size: 24px; /* Ajusta el tamaño del texto en dispositivos móviles según sea necesario */
    }

    h4 {
      font-size: 28px; /* Ajusta el tamaño del texto en dispositivos móviles según sea necesario */
    }
  }
</style>

